<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        @*NAVBAR*@
        <div class="navbar">
            <div class="navbar-brand">
                <div class="flex">
                    <img src="~/logo.png" width="35px" class="ml mr" asp-append-version="true" />
                    <h3>Task Tracker</h3>
                </div>
            </div>
            <ul>
                <li>
                    <a asp-controller="Task" asp-action="Index" >Tasks</a>
                    <a asp-controller="Task" asp-action="Create">Create Task</a>
                </li>
            </ul>
        </div>

        @*BODY*@
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>
